.site-subheader {
	background-color: $bounty-pink;
	background-image: url(../Assets//img/icon_background.svg);
	background-repeat: repeat-x;
	padding: rem-calc(12 0);

	.location-info {
		font-size: $text-tiny;
		display: flex;

		.location-search {
			@include bounty-item-flex;
		}

		.spacer {
			@include bounty-item-flex;
			display: none;

			@media #{$device-large} {
				display: inline-block;
			}
		}

		.birthday-facts {
			@include bounty-item-flex;
			display: none;

			@media #{$device-large} {
				display: inline-block;
			}

			color: $bounty-white;

			.title {
				font-weight: bold;
			}

			> div {
				padding: rem-calc(0 12);
			}
		}
	}
}