.bounty-item {
	display: flex;
	display: inline-block;
	@include bounty-item-flex;
	padding-bottom: rem-calc(8);

	.bounty-item-inner {
		padding: rem-calc(6 12);

		a {
			text-decoration: none;
		}

		animation: fadein 0.1s linear;
		&:hover{
			animation: fadeout 0.2s forwards;
		}

		.bounty-item-photo {
			width: 100%;
			border-radius: rem-calc(6);
			height: rem-calc(150);
			background-position: center;
			background-size: cover;
			position: relative;
			margin-bottom: rem-calc(4);

			.bounty-photo-label {
				position: absolute;
				background-color: $bounty-white;
				border-radius: rem-calc(4);
				padding: rem-calc(4);
			}

			.bounty-org-name{
				position: absolute;
				bottom: rem-calc(4);
				left: rem-calc(4);
				color: $bounty-darkgrey;

				.bounty-km{
					display: inline-block;
					padding-left: rem-calc(4);
					color: $bounty-grey;
				}
			}

			.bounty-type-icon-container {
				position: absolute;
				bottom: rem-calc(4);
				right: rem-calc(6);
				display: flex;

				.bounty-type-icon{
					border: rem-calc(4) solid white;
					margin: rem-calc(0 -2);
				}
			}
		}

		.bounty-item-label{
			display: flex;

			h1 {
				font-size: $text-small;
				display: inline-block;
				flex-grow: 1;
				text-decoration: none;
			}

			.mini-labels-area{
				text-transform: uppercase;

				.bounty-mini-label{
					display: inline-block;
					background-color: $bounty-pink;
					color: $bounty-white;
					border-radius: rem-calc(4);
					padding: rem-calc(4);
					font-size: $text-tiny;
					margin-right: rem-calc(4);

					&.rating{
						background-color: $bounty-white;
						color: $bounty-pink;
					}
				}
			}
		}
	}
}

