//Moving watermark background
.moving-background {
	-webkit-transform: translateZ(0); //For mobile anim speed
	animation: animatedBackground 32s linear infinite;
}

@keyframes animatedBackground {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 512px 0;
	}
}

//Bounty result item fades
@keyframes fadein {
		0% { opacity: 0.9 }
		100% { opacity: 1 }
}
  
  @keyframes fadeout {
		0% { opacity: 1 }
		100% { opacity: 0.9 }
}
	
//For loader
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}